{% extends "base.html" %}
{% load static %}


{% block content %}

<section id="contact-form">
    <div class="card m-5  text-center">
        <div class="card-body">
            <h2 class="fcontact">Contact Us</h2>
            <br>
            <form class="" method="POST">
                {% csrf_token %}
                <div class="form-group text-center">

                    <input name="name" type="text" class="form-control" id="fname" placeholder="Name" required>
                    <br>
                    <input name="email" type="email" class="form-control" id="femail" aria-label="emailHelp"
                        placeholder="Enter email" required>
                    <br>
                    <textarea name="subject" id="subject" cols="30" rows="5" class="form-control" placeholder="Subject"
                        required></textarea>
                    <br>
                    <button type="submit" class="h2 btn btn-black">Submit</button>
                </div>
            </form>


            <p class="text-center">Join our comunity on <a href="https://www.facebook.com/profile.php?id=61559292835279"
                    target="_blank" class="" aria-label="Visit our Facebook page (opens in a new tab)">FaceBook</a></p>
            <br>
        </div>
    </div>
</section>
{% endblock %}