{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- HOME Section -->
<section id="home">
  <div class="masthead"
    style="background-image: url('https://seline-and-tam-jewelry.s3.eu-north-1.amazonaws.com/media/necklace-white-shirt.png')">
    <div class="color-overlay d-flex justify-content-center align-items-center text-center">
      <h1 class="title1">Your dream in</h1>
      <h1 class="title2"><i>jewelry</i> form</h1>
      <p class="paragraf pt-5">New Summer Collection!</p>
      <a href="{% url 'products:products' %}" class="btn btn-black mt-5">Shop Now</a>
    </div>
  </div>
</section>

<!-- About Section -->
<section>
<div style="position: relative;">
  <!--Shape divider-->
  <div class="custom-shape-divider-bottom-1714144216">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path
        d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z"
        class="shape-fill"></path>
    </svg>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card mt-5 mb-5">
          <img class="card-img-top" src="{{ MEDIA_URL }}bg1.jpg" alt="golden jewelry - golden ring">
          <div class="card-body">
            <h2 class="card-title">SUSTAINABLY SOURCED</h2>
            <p class="card-text">Sustainable sourcing in the world of jewellery is gaining momentum as consumers
              prioritize ethical
              and environmentally responsible products. The industry is making strides towards minimizing the
              environmental impact of mining, promoting fair trade practices, and empowering local communities.
              Initiatives such as certification programs and traceability systems contribute to greater
              transparency and accountability. By supporting sustainable jewellery brands, consumers can make a
              meaningful difference.</p>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4">
        <div class="card mt-5 mb-5">
          <img class="card-img-top" src="{{ MEDIA_URL }}bg3.jpg" alt="golden jewelry - golden wheat">
          <div class="card-body">
            <h2 class="card-title">ETHICALLY CRAFTED</h2>
            <p class="card-text">Ethical craftsmanship in the world of jewellery is an essential movement that
              ensures fair treatment
              of workers, responsible sourcing of materials, and sustainable production practices. By supporting
              ethical jewellery brands, consumers have the power to drive positive change in the industry and
              contribute to a more sustainable and equitable world. Ethical craftsmanship adds value not only to
              the jewellery itself but also to the stories behind each piece, creating a meaningful connection
              between the wearer, the artisans, and the environment.</p>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4">
        <div class="card mt-5 mb-5">
          <img class="card-img-top" src="{{ MEDIA_URL }}bg8.jpg" alt="golden jewelry - golden diamond bracelet">
          <div class="card-body">
            <h2 class="card-title">JEWELLERY CREATION </h2>
            <p class="card-text">Jewellery is crafted through a meticulous process.
              Inspired by various sources, a designer sketches the desired piece.
              Material selection is crucial, from precious metals to gemstones.
              Through casting, shaping, and finishing techniques, the metal is
              transformed into the desired form. Gemstones are cut, polished,
              and securely set to enhance the piece's beauty. Finishing touches
              such as polishing and additional techniques like engraving or plating
              are applied. Quality control ensures the piece meets high standards.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

<!-- Upcoming Collection Section -->

<section class="upcoming-collection">
  <div class="masthead background-image"
    style="background-image: url('https://seline-and-tam-jewelry.s3.eu-north-1.amazonaws.com/media/drop-earring.png');">
    <div class="up-coll container-fluid ">
      <div class="centered row">
        <div class="col-lg-4 text-center">
          <h2>Upcoming Collection</h2>
          <h5>in</h5>
          <h3>- 01.12.2024 -</h3>
        </div>

        <div class="col-lg-7">
          <div class="countdown text-center">
            <div>
              <p id="days">00</p>
              <span>Days</span>
            </div>
            <div>
              <p id="hours">00</p>
              <span>Hours</span>
            </div>
            <div>
              <p id="minutes">00</p>
              <span>Minutes</span>
            </div>
            <div>
              <p id="seconds">00</p>
              <span>Seconds</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- LISA COLLECTION section -->

<section class="lisa-collection">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <h2 class="text-center">Lisa Collection</h2>
    </div>
    <p class="text-center">Golden luxury jewelry</p>
    <div class="row">
      <div class="col-lg-4 col-md-4 mb-3">
        <div class="product-box">
          <div class="product-inner-box position-relative">
            <img class="img-fluid" src="{{ MEDIA_URL }}lisa1.png" alt="gold jewelry- gold earings">
          </div>

          <div class="product-info">
            <div class="product-name">
              Glimmering Aura
            </div>
            <span class="product-price">$ 338.99</span>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 mb-3">
        <div class="product-box">
          <div class="product-inner-box position-relative">
            <img class="img-fluid" src="{{ MEDIA_URL }}lisa2.png" alt="gold jewelry- gold earings">
          </div>

          <div class="product-info">
            <div class="product-name">
              Sun-Kissed Spiral
            </div>
            <span class="product-price">$ 350</span>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 mb-3">
        <div class="product-box">
          <div class="product-inner-box position-relative">
            <img class="img-fluid" src="{{ MEDIA_URL }}lisa3.png" alt="gold jewelry- gold earings">
          </div>
          <div class="product-info">
            <div class="product-name">
              Luminous Gold Leaf
            </div>
            <span class="product-price">$ 249.99</span>
          </div>
        </div>
      </div>
      <a href="{% url 'products:products' %}?collections=lisa" class="btn btn-black mt-3 post-midle">See More >> </a>
    </div>
  </div>
</section>

<!-- OUR PROMISE section -->

<section id="promise">
  <div class="custom-shape-divider-top-1714220031">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path
        d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z"
        opacity=".25" class="shape-fill"></path>
      <path
        d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z"
        opacity=".5" class="shape-fill"></path>
      <path
        d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"
        class="shape-fill"></path>
    </svg>
  </div>
  <div>
    <h2> Our Promise </h2>
  </div>
  <div class="container">
    <div class="row mt-5 pb-5 ">

      <div class="col-lg-3  mt-md-0">
        <div class="icon">
          <i class="big fa-solid fa-bag-shopping" style="color: #000000;"></i>
          <h5>Free worldwide</h5>
          <h5>shipping & returns</h5>
        </div>
      </div>

      <div class="col-lg-3  mt-md-0">
        <div class="icon border-bottom">
          <i class="big fas fa-circle-check mb-3" style="color: #000000;"></i>
          <h5>Ethically sourced</h5>
          <h5>and crafted</h5>
        </div>
      </div>

      <div class="col-lg-3  mt-md-0">
        <div class="icon">
          <i class="big fas fa-recycle" style="color: #000000;"></i>
          <h5>Recycled post-</h5>
          <h5>consumer gold</h5>
        </div>
      </div>

      <div class="col-lg-3  mt-md-0">
        <div class="icon">
          <i class="big fas fa-gem" style="color: #000000;"></i>
          <h5>Sustainable</h5>
          <h5>lab-grown diamonds</h5>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- CONTACT section -->

<section id="contact">

  <!--curve-->
  <div class="custom-shape-divider-top-1714221927">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path
        d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z"
        opacity=".25" class="shape-fill"></path>
      <path
        d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z"
        opacity=".5" class="shape-fill"></path>
      <path
        d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"
        class="shape-fill"></path>
    </svg>
  </div>
  <!--curve ends here-->
  <div class="col-md-12">
    <div class="bg-image"
      style="background-image:  url('https://seline-and-tam-jewelry.s3.eu-north-1.amazonaws.com/media/contact-bckg.png')">
    </div>
  </div>



  <div class="container text-center">
    <div class="row mt-4">

      <div class="col-xl-3 col-md-4 col-sm-12  text-start">
        <h6 class=" mt-5 pb-2">SELINE & TAM</h6>
        <a href="{% url 'home:contact_form' %}" class="h2 btn btn-black my-5">Send a message</a>
      </div>

      <div class="col-xl-3 col-md-6 col-sm-12">
        <h4>LOCATION</h4>
        <h5>123 Aniwhere St., Any City, State, Country</h5>
      </div>

      <div class="col-xl-3 col-md-5 col-sm-12 text-sm-start">
        <h4 class="ms-sm-5">EMAIL ADDRESS</h4>
        <h5 class="ms-sm-5">selineandtamjewelry@gmail.com</h5>
      </div>

      <div class="col-xl-3 col-md-7 col-sm-12 ps-lg-5">
        <h4>PHONE NUMBER</h4>
        <h5>(123) 456 7890</h5>
      </div>
    </div>
  </div>


  <!-- Google API Map -->
  <div class="container mb-5 mt-5">
    <div class="card">
      <div class="row ">
        <div class="col-lg-12">
          <div id="map"></div>
        </div>
      </div>
    </div>
  </div>

</section>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript" src="{% static 'js/clock.js' %}"></script>
<script type="text/javascript" src="{% static 'js/cards.js' %}"></script>

<!-- Google API Map -->

<script>
  function initMap() {
    var location = {
      lat: -25.363,
      lng: 131.044
    };
    var map = new google.maps.Map(document.getElementById("map"), {
      zoom: 4,
      center: location
    });
    var marker = new google.maps.Marker({
      position: location,
      map: map
    });
  }
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCZyx5sSWA8XXPx7Ryh25KxGPsLGpDd9Q&callback=initMap"></script>

{% endblock %}