{% extends 'base.html' %}
{% load static %}

{% block content %}

  <!-- HOME Section -->
    <section id="home">
      <div class="masthead" style="background-image: url('media/necklace-white-shirt.png')">
        <div class="color-overlay d-flex justify-content-center align-items-center text-center">
          <h1 class="title1">Your dream in</h1>
          <h1 class="title2"><i>jewelry</i> form</h1>
          <p class="paragraf pt-5">Summer Bestsellers on Sale!</p>
          <a href="sign-up" class="btn btn-black mt-5">Shop Now</a>
        </div>
      </div>
    </section>

{% endblock %}