@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600&family=Hedvig+Letters+Serif:opsz@12..24&family=Play&family=Playfair+Display:ital@0;1&family=Roboto+Mono:wght@300;400&display=swap');


html {
    box-sizing: border-box;
}

body {
    background-color: #f1eee9;
    font-family: Fira Sans, sans-serif;
    width: 100%;
    height: 100vh;
}

/* Navbar */

.logo-font {
    font-family: Playfair Display, sans-serif;
    font-size: 1.5rem;
}

.main-logo-link {
    width: fit-content;
}

.dropdown-menu {
    background-color:  #f7f3ed !important;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: rgba(255, 255, 255, 0.445);
    color: rgb(0, 0, 0);
    padding: 25px;
    padding-left: 45px;
    padding-right: 45px;
    font-size: 1.2rem;
    border: 1px solid black;
}

.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: black;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-sand {
    background-color:  #dfdad3 !important;
}

/* Home Section */


.masthead {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.color-overlay {
    font-family: Playfair Display, sans-serif;
    background-color: rgba(255, 255, 255, 0.534);
    color: black;
    flex-direction: column;
    letter-spacing: 2px;
    min-height: 100vh;
    width: 100%;
    line-height: 1;
}

.title1 {
    font-size: 7rem;
    margin-top: 150px;
}

.title2 {
    font-size: 7rem;
}

.paragraf {
    
    font-size: 2rem;
}

/* About Section */

#about {
    position: relative important;
    background: #f1e9e4;
    overflow: hidden;
}

/* curve from shapedivider.ap */

.custom-shape-divider-bottom-1714144216 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1714144216 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 448px;
}

.custom-shape-divider-bottom-1714144216 .shape-fill {
    fill: #D6CFCB;
}


/* Products main page */

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

.card {
    font-family: Playfair Display, sans-serif;
    box-shadow: 0 33px 61px -29px rgba(0, 0, 0, 0.623);
}

/* Detail product */

.add-to-bag {
    background: black;
    color: white;
    padding: 20px;
    font-size: 1rem;
    border: 1px solid black;
}

.add-to-bag:hover {
    background: rgba(255, 255, 255, 0.445);
    color: rgb(0, 0, 0); 
}

.keep-shp {
    font-family: Fira Sans, sans-serif;
    border: 1px solid black;
    padding: 20px;
    font-size: 1rem;
}

.keep-shp:hover {
    background: black;
    color: white;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

.message.container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.increment-qty, .decrement-qty {
    padding: .25rem .5rem !important;
}

/* Toasts */



.custom-toast {
    overflow: visible;
    float: right;
}

.test-toast {
    opacity: 1 !important;
}

.toast-capper{
    height: 2px;
}


/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #000 /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content a {
	color: #1096b8; /* text-info */
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: red;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: red;
    border-color: red;
    border-radius: 0;
}

/* --------------- Media Queries --------------- */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

@media (max-width: 900px) {

    .title1 {
        font-size: 5rem;
    }
    
    .title2 {
        font-size: 5rem;
    }
    
    .paragraf {
        font-size: 1.4rem;
    }

    .btn-black {
        padding: 20px;
        font-size: 1rem;
    }

    .custom-shape-divider-bottom-1714144216 {
        visibility: hidden;
    }
}

@media (max-width: 576px) {

    .title1 {
        font-size: 3.4rem;
    }
    
    .title2 {
        font-size: 3.4rem;
    }
    
    .paragraf {
        font-size: 1.2rem;
    }
}

@media (max-width: 320px) {

    .title1 {
        font-size: 3rem;
    }
    
    .title2 {
        font-size: 3rem;
    }
    
    .paragraf {
        font-size: 1rem;
    }
}


/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 140px;
    }

    body {
        height: calc(100vh - 116px);
    }
}