@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600&family=Hedvig+Letters+Serif:opsz@12..24&family=Play&family=Playfair+Display:ital@0;1&family=Roboto+Mono:wght@300;400&display=swap');

html {
    height: 100%;
}

body {
    background: url('/media/homepage_background_cropped.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: Fira Sans, sans-serif;
}

/* NavBar */

.navbar {
    position: absolute;
    height: 7rem;
    width: 100%;
    transition: all 0.5s;
    font-size: 1.3rem;
    background: #ffffff96 !important;

}

.navbar-brand {
    font-family: Playfair Display, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}

.nav-link {
    font-family: Fira Sans, sans-serif;
    color: white;
}

/* Collapse Button */

.fa-1x {
    font-size: 2rem;
  }
.navbar-toggler.toggler-example {
    cursor: pointer;
}

/* Icons */

.fa-regular{
	border-top-left-radius: 40%;
    border-top-right-radius: 40%;
	background:#b4b4b4;
}

.fa-regular:hover{
	background: #b99c3b;
}

/* HOME Section */

#home {
    width: 100%;
    height: 100vh;
}

.masthead {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.color-overlay {
    font-family: Playfair Display, sans-serif;
    background-color: rgba(255, 255, 255, 0.534);
    color: black;
    flex-direction: column;
    letter-spacing: 2px;
    min-height: 100vh;
    width: 100%;
    line-height: 1;
}

#home .title {
    font-size: 100px;
}

#home .paragraf {
    font-size: 30px;
}