@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600&family=Hedvig+Letters+Serif:opsz@12..24&family=Play&family=Playfair+Display:ital@0;1&family=Roboto+Mono:wght@300;400&display=swap');


html {
    box-sizing: border-box;
}

body {
    background-color: #f1eee9;
    font-family: Fira Sans, sans-serif;
    width: 100%;
    height: 100vh;
}

/* Navbar */

.logo-font {
    font-family: Playfair Display, sans-serif;
    font-size: 1.5rem;
}

.main-logo-link {
    width: fit-content;
}

.dropdown-menu {
    background-color:  #f7f3ed !important;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: rgba(255, 255, 255, 0.445);
    color: rgb(0, 0, 0);
    padding: 25px;
    padding-left: 45px;
    padding-right: 45px;
    font-size: 1.2rem;
    border: 1px solid black;
}

.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: black;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-sand {
    background-color:  #dfdad3 !important;
}

/* Home Section */


.masthead {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.color-overlay {
    font-family: Playfair Display, sans-serif;
    background-color: rgba(255, 255, 255, 0.534);
    color: black;
    flex-direction: column;
    letter-spacing: 2px;
    min-height: 100vh;
    width: 100%;
    line-height: 1;
}

.title1 {
    font-size: 7rem;
    margin-top: 150px;
}

.title2 {
    font-size: 7rem;
}

.paragraf {
    
    font-size: 2rem;
}


/* About Section */

#about {
    position: relative important;
    background: #f1e9e4;
    overflow: hidden;
}

/* curve from shapedivider.ap */

.custom-shape-divider-bottom-1714144216 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1714144216 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 448px;
}

.custom-shape-divider-bottom-1714144216 .shape-fill {
    fill: #D6CFCB;
}

/* Upcomind Collection Section */

.upcoming-collection .container-fluid {
    color: #fff;
    font-family: Playfair Display, sans-serif;
    display: inline-block;
    height: 100vh;
}

.centered {
    display: flex;
    justify-content: end;
    line-height: 0;
}

.up-coll h2 {
    font-size: 100px;
    padding-top: 200px;
}

.up-coll h3 {
    font-size: 80px;
}

.up-coll h5 {
    font-size: 60px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.countdown div {
    display: inline-flex;
    margin-top: 400px;
}

.countdown div p {
    font-size: 60px;
    padding-right: 20px;
}

/* THEA COLLECTION On Sale section */

.theia-collection {
    background: #D6CFCB;
    
}

.theia-collection h2 {
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 4rem;
    font-family: Playfair Display, sans-serif;
}

.product-inner-box .icons {
    right: 15px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    top: -3%;
    transition: all 0.2s ease-in-out, transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
    opacity: 0;
}

.product-inner-box .icons a {
    width: 50px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 50%;
}

.product-inner-box .onsale .sale {
    background: #f1e9e4;
    font-size: 19px;
    padding: 5px 14px;
    top: 0px;
    position: absolute;
}

.product-inner-box .onsale .sale:before {
    border-color: transparent transparent transparent #f1e9e4;
    content: '';
    position: absolute;
    right: -8px;
    width: 0;
    bottom: 0;
}

.product-inner-box .onsale .sale:after {
    border-color: #f1e9e4 transparent transparent;
    content: '';
    position: absolute;
    right: -8px;
    width: 0;
    top: 0;
}

.product-inner-box img {
    box-shadow: 0 33px 61px -29px rgba(0, 0, 0, 0.623);
    height: 350px;
    width: 100%;
    object-fit: cover;

}

.product-box.is-hover .icons {
    transform: rotateY(-3%);
    top: 3%;
    opacity: 1;
}

.cart-btn {
    position: absolute;
    bottom: 20px;
    text-align: center;
    color: #000;
    width: 100%;
    opacity: 0;
    transition: all 0.2s ease-in-out, transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.cart-btn .btn {
    background: #f1e9e4;
}

.product-box.is-hover .cart-btn {
    opacity: 1;
}

.product-name {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    font-family: Fira Sans, sans-serif;

}

.product-price {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
}

.post-midle {
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 60px;
}

/* Our Promise section */

#promise {
    text-align: center;
    position: relative;
    font-family: Fira Sans, sans-serif;
}

#promise h2 {
    padding-top: 200px;
    padding-bottom: 80px; 
    font-size: 5rem;
}

#promise .icon {
    padding-bottom: 80px;
}

#promise .big {
    font-size: 5rem;
}

#promise h5 {
    font-size: 2rem;
}

/* Shape divider */

.custom-shape-divider-top-1714220031 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1714220031 svg {
    position: relative;
    display: block;
    width: calc(129% + 1.3px);
    height: 121px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1714220031 .shape-fill {
    fill: #D6CFCB;
}

/* Contact section */

#contact {
    position: relative;
    font-family: Playfair Display, sans-serif;
    background: #d6cfcb;
}

#contact .bg-image {
    height: 80vh;  
    justify-content: center;
    object-fit: cover;
}

#contact h4 {
    margin-top: 70px;
}

#contact h5 {
    margin-bottom: 70px;
}

/* shape divider */
.custom-shape-divider-top-1714221927 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: 1;
}

.custom-shape-divider-top-1714221927 svg {
    position: relative;
    display: block;
    width: calc(129% + 1.3px);
    height: 121px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1714221927 .shape-fill {
    fill: #F1EEE9;
}

/* Reviews Section */

#review {
    position: relative;
    font-family: Playfair Display, sans-serif;
}

#review h3 {
    margin-top: 75px;
    font-size: 2rem;
}

.rate > input {
    display: none;
}

.rate {
    display: inline-block;
    border: 0;
}

.rate > label { 
    float: right;
}

/* showing the stars */
.rate > label:before{
    display: inline-block;
    font-size: 2rem;
    font-family: FontAwesome;
    content: "\f005";
    margin: 0;
    padding: 0.3rem .2rem;
    cursor: pointer;
}

/* click and hover */
input:checked ~ label, label:hover ~ label {
    color: #ffb503;
}

/* hover highlight */
input:checked + label:hover, input:checked ~ label:hover,input:checked ~ label:hover ~label,
label:hover ~ input:checked ~label {
    color: #cc9000;
}

#review p {
    font-size: 1.5rem;
}


/* Products main page */

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

.card {
    font-family: Playfair Display, sans-serif;
    box-shadow: 0 33px 61px -29px rgba(0, 0, 0, 0.623);
}

/* Detail product */

.add-to-bag {
    background: black;
    color: white;
    padding: 20px;
    font-size: 1rem;
    border: 1px solid black;
}

.add-to-bag:hover {
    background: rgba(255, 255, 255, 0.445);
    color: rgb(0, 0, 0); 
}

.keep-shp {
    font-family: Fira Sans, sans-serif;
    border: 1px solid black;
    padding: 20px;
    font-size: 1rem;
}

.keep-shp:hover {
    background: black;
    color: white;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

.message.container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.increment-qty, .decrement-qty {
    padding: .25rem .5rem !important;
}

/* Reviews */

.reviews-card {
    width: 200%;
    background-color: #F1EEE9;
}

.review-row{
    border: 1px solid rgb(184, 184, 184);
    margin-left: 15px;
    margin-right: 15px;
    background-color: #fff;
}

#review h5 {
    font-size: 15px;
}

#review .comment {
    font-size: 13px;
}

/* Toasts */

.custom-toast {
    overflow: visible;
    float: right;
}

.test-toast {
    opacity: 1 !important;
}

.toast-capper{
    height: 2px;
}


/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #000 /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content a {
	color: #1096b8; /* text-info */
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: red;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: red;
    border-color: red;
    border-radius: 0;
}

/* --------------- Media Queries --------------- */

@media only screen and (max-width: 1468px) {

    .up-coll h2 {
        font-size: 80px;
    }

    .up-coll h3 {
        font-size: 60px;
    }

    .up-coll h5 {
        font-size: 40px;

    }

    .countdown div p {
        font-size: 50px;
    } 
}

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {

  .container {
    max-width: 80%;
  }
}

@media only screen and (max-width: 1128px) {

    .up-coll h2 {
        font-size: 60px;
    }

    .up-coll h3 {
        font-size: 50px;
    }

    .up-coll h5 {
        font-size: 30px;

    }

    .countdown div p {
        font-size: 40px;
    } 
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {

    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {

    .header-container {
        padding-top: 140px;
    }

    body {
        height: calc(100vh - 116px);
    }

    .countdown div {
        margin-top: 130px;
    }
}

@media (max-width: 900px) {

    .title1 {
        font-size: 5rem;
    }
    
    .title2 {
        font-size: 5rem;
    }
    
    .paragraf {
        font-size: 1.4rem;
    }

    .btn-black {
        padding: 20px;
        font-size: 1rem;
    }

    .custom-shape-divider-bottom-1714144216 {
        visibility: hidden;
    }

    .custom-shape-divider-top-1714220031 {
        visibility: hidden;
    }
}

@media (max-width: 576px) {

    .title1 {
        font-size: 3.4rem;
    }
    
    .title2 {
        font-size: 3.4rem;
    }
    
    .paragraf {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 504px) {

    .countdown div p {
        font-size: 25px;
    }

    .countdown div span {
        font-size: 10px;
    }
}

@media only screen and (max-width: 358px) {

    .up-coll h2 {
        font-size: 50px;
    }

    .up-coll h3 {
        font-size: 40px;
    }

    .up-coll h5 {
        font-size: 20px;
    }

    .countdown {
        visibility: hidden; 
    }
}

@media (max-width: 320px) {

    .title1 {
        font-size: 3rem;
    }
    
    .title2 {
        font-size: 3rem;
    }
    
    .paragraf {
        font-size: 1rem;
    }
}








