<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <a href="{% url 'home:home' %}" class="nav-link text-black mr-5 h4"><i class="fa-solid fa-house" style="color: #000000;"></i></a>
        <li class="nav-item dropdown">
            <a class="nav-link text-black mr-5 text-uppercase" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0 " aria-labelledby="all-products-link">
                <a href="{% url 'products:products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products:products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products:products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link text-black mr-5 text-uppercase" href="{% url 'products:products' %}?category=bracelet" >
                Bracelet
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-black mr-5 text-uppercase" href="{% url 'products:products' %}?category=necklace">
                Necklaces
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-black mr-5 text-uppercase" href="{% url 'products:products' %}?category=earings">
                Earings
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-black mr-5 text-uppercase" href="{% url 'products:products' %}?category=rings">
                Rings
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link text-black text-uppercase" href="#" id="collections-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Collections
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products:products' %}?collections=theia" class="dropdown-item">Theia Collection</a>
                <a href="{% url 'products:products' %}?collections=sephora" class="dropdown-item">Sephora Collection</a>
                <a href="{% url 'products:products' %}?collections=dione" class="dropdown-item">Dione Collection</a>
                <a href="{% url 'products:products' %}?collections=selene" class="dropdown-item">Selene Collection</a> 
                <a href="{% url 'products:products' %}?collections=lisa" class="dropdown-item">Lisa Collection</a>               
            </div>
        </li>
    </ul>
</div>